
$red:#Ec293A;
$black:#282828;
$white:#fffefc;
:host{
    height: 100%;
    display: block;
}
.all{
background-color: $white;
height:100%
}
// .whole{
//     height: 100%;
// }

.calc{
display:flex;
background: #282828;
width:30%;
height:100vh;
color: $white;
transform: translate(60%,0%);
justify-content: center;
.inp{
    
    margin-top: 200px;
    background-color: #282828;
 width: 450px;
 height: 50px;
 border-radius: 10px;
    //border: 0;
    // padding-top: 10px;
    // padding-left: 600px;
    // //padding-right: 100%;
}

}
.firstrow,.secondrow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .plus input{
        padding:30px;
       // position: relative;
        border-radius: 50%;
    }
}

.secondrow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   button{

       padding: 25px 52px 25px 52px;
   }
}