<div class="all">
  <div class="whole">
    <div class="calc">
      <div class="calculator">
        <div class="input">
          <input type="text" placeholder="0" class="inp" />
        </div>
        <div class="firstrow">
          <div class="plus"><input type="button" value="+" /></div>
          <div class="plus"><input type="button" value="-" /></div>
          <div class="plus"><input type="button" value="*" /></div>
          <div class="plus"><input type="button" value="/" /></div>
        </div>
        <div class="secondrow">
          <div class="num"><button value="1">1</button></div>
          <div class="num"><button value="2">2</button></div>
          <div class="num"><button value="3">3</button></div>
        </div>
        <div class="thirdrow">
          <div class="num"><button value="5">4</button></div>
          <div class="num"><button value="6">5</button></div>
          <div class="num"><button value="7">6</button></div>
        </div>
        <div class="fourthrow">
          <div class="num"><button value="1">7</button></div>
          <div class="num"><button value="1">8</button></div>
          <div class="num"><button value="1">9</button></div>
        </div>
        <div class="fifthrow">
          <div class="num"><button value="1">0</button></div>
          <div class="num"><button value="1">.</button></div>
          <div class="ac"><button value="1">c</button></div>
        </div>
        <div class="seventhrow">
          <div ><button class="eql" value="1">=</button></div>

        </div>
       
      </div>
      <div class="div"></div>
    </div>
  </div>
</div>
