<div class="all">
  <div class="whole">
    <div class="calc">
      <div class="calculator">
        <div class="input">
          <input type="text" class="inp" />
        </div>
        <div class="firstrow">
          <div class="plus"><input type="button" value="+" /></div>
          <div class="plus"><input type="button" value="btn" /></div>
          <div class="plus"><input type="button" value="btn" /></div>
          <div class="plus"><input type="button" value="btn" /></div>
        </div>
        <div class="secondrow">
          <div class="num"><button value="1">1</button></div>
          <div class="num"><button value="1">1</button></div>
          <div class="num"><button value="1">1</button></div>
          <div class="num"><button value="1">1</button></div>
        </div>
      </div>
      <div class="div"></div>
    </div>
  </div>
</div>
