
$red:#Ec293A;
$black:#282828;
$white:#fffefc;
:host{
    height: 100%;
    display: block;
}
.all{
background-color: $white;
height:100%
}
// .whole{
//     height: 100%;
// }

.calc{
display:flex;
background: #282828;
width:50%;
height:700px;
color: $white;
transform: translate(50%,0%);
align-items: center;
}